{% extends 'base.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <title>{% block title %}Título de la página{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/projects/announcement_style.css' %}"
    />
    {% endblock %}
  </head>
  <body>

    <div class="content">
      <div class="search-bar">
        <input type="text" placeholder="Buscar la categoría" />
        <div class="btn">
          <i class="fa fa-search"></i>
        </div>
      </div>
      <h2>Convocatorias</h2>
      <div class="grid">
        <div class="category-item">
          <img class="img" src="{% static 'img/announcement_imgs/tecnologia.png' %}" />
          <h4>Tecnología</h4>
        </div>
        <div class="category-item">
          <img class="img" src="{% static 'img/announcement_imgs/videojuegos.png' %}" />
          <h4>Videojuegos</h4>
        </div>
        <div class="category-item">
          <img class="img" src="{% static 'img/announcement_imgs/sociedad.png' %}" />
          <h4>Sociedad</h4>
        </div>
        <div class="category-item">
          <img class="img" src="{% static 'img/announcement_imgs/agronomia.png' %}" />
          <h4>Agronomía</h4>
        </div>
        <div class="category-item">
          <img class="img" src="{% static 'img/announcement_imgs/educacion.png' %}" />
          <h4>Educación</h4>
        </div>
        <div class="category-item">
          <img class="img" src="{% static 'img/announcement_imgs/salud.png' %}" />
          <h4>Salud</h4>
        </div>
      </div>
    </div>
  </body>
</html>

{% endblock %}
