{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <title>{% block title %}Título de la página{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}" />
    {% endblock %}
  </head>
  <body>
    <div class="wrapper">
      <nav>
        <a class="logout-btn" href="{% url 'logout' %}"">Salir</a>
    
        <input type="checkbox" id="check" />
        <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
        </label>
        <label class="logo">Knowledge Project</label>
        <ul>
          <li class="active"><a class="active" href="/">Home</a></li>
          <li><a href="#">Propuestas</a></li>
          <li><a href="#">Proyectos</a></li>
          <li><a href="#">Recursos</a></li>
        </ul>
      </nav>

      <div class="content">
        {% block content %}{% endblock %}
      </div>
      
      <footer class="footer">
        <div class="container">
          <div class="footer-row">
            <div class="footer-links">
              <h4>Dreams Bank</h4>

              <ul>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Otros módulos</a></li>
                <li><a href="#">Políticas de privacidad</a></li>
                <li><a href="#">Afíliate</a></li>
              </ul>
            </div>
            <div class="footer-links">
              <h4>Ayuda</h4>

              <ul>
                <li><a href="#">Preguntas fracuentes</a></li>
                <li><a href="#">Soporte técnico</a></li>
                <li><a href="#">Código abierto</a></li>
                <li><a href="#">Nuestro equipo</a></li>
              </ul>
            </div>

            <div class="footer-links">
              <h4>Más opciones</h4>

              <ul>
                <li><a href="#">Proyectos</a></li>
                <li><a href="#">Convocatorias</a></li>
                <li><a href="#">Registra tu empresa</a></li>
                <li><a href="#">Tu perfil</a></li>
              </ul>
            </div>

            <div class="footer-links">
              <h4>Síguenos</h4>
              <div class="social-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </footer>

     
    </div>
  </body>
</html>
