{% extends 'base.html' %} {% block content %}

<div class="content-container">
  <div class="login-container">
    <h2>Iniciar Sesión</h2>
    <div class="form-container">
      <form method="post">
        <p>
          <input
            type="text"
            class="input"
            id="username"
            name="username"
            placeholder="Usuario (Cédula)"
          />
        </p>
        <p>
          <input
            type="text"
            class="input"
            id="password"
            name="password"
            placeholder="Contraseña"
          />
        </p>
      </form>
    </div>
    <div class="support-container">
      <a href="#" id="forgot-pass">¿Olvidaste la contraseña?</a>
      <a href="#" id="register">¿No tienes una cuenta? Regístrate</a>
    </div>
  </div>
</div>
{% endblock %}
