{% extends 'base.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/projects/crud.css' %}" />
    <link rel="stylesheet" href="{% static 'css/projects/carousel.css' %}" />
    {% endblock %}
  </head>
  <body>
    <div class="main-title float-left">
      <h1>Proyectos - {{ current_category_name }}</h1>
    </div>

    
    <div class="slider">
      {% for project in projects %}
      <input type="radio" name="slider" title="slide{{ forloop.counter }}" {% if forloop.first %}checked="checked"{% endif %} class="slider__nav" data-number="{{ forloop.counter|add:'-1' }}"/>
      {% endfor %}
      <div class="slider__inner" style="--projects-count: {{ projects|length }};">
        <script>
          const sliderNavs = document.querySelectorAll('.slider__nav');
          const sliderInner = document.querySelector('.slider__inner');
  
          sliderNavs.forEach(nav => {
            nav.addEventListener('change', () => {
              const btnNumber = nav.getAttribute('data-number');
              sliderInner.style.left = `calc(-100% * ${btnNumber})`;
            });
          });
        </script>
        {% for project in projects %}
        <div class="slider__contents">
          <h1 class="slider__caption">{{ project.title }}</h1>
          <h2 class="slider__subtitle">{{ project.company_nit.name }}</h2>
          <div class="slider__description">
            <h2>Resumen de proyecto</h2>
            <p class="slider__txt"><b>Objetivo: </b>{{ project.objective }}</p>
            <p class="slider__txt"><b>Resultados: </b>{{ project.results }}</p>
            <p class="slider__txt"><b>Alcance: </b>{{ project.reach }}</p>
          </div>
          <a class="slide__text-link">Aportar</a>
        </div>
        {% empty %}
        <div class="slider__contents">
          <h2>No se encontraron proyectos en esta convocatoria</h2>
        </div>
        
        {% endfor %}
        
      </div>
    </div>

    



  </body>
</html>



{% endblock %}


