{% extends 'base.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <title>{% block title %}Título de la página{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/projects/crud.css' %}" />
    <link rel="stylesheet" href="{% static 'css/projects/announcement_categories.css' %}" />
    {% endblock %}
  </head>
  <body>
    <img class="img" src="../../../{{ category.photo }}" alt="{{ category.name }}" width="100">
    <div class="main-title">
      <h1>Convocatorias de {{ current_category_name }}</h1>
    </div>
    <p>Solo puedes aplicar a convocatorias de tu categoría &lpar; {{ current_category_name }} &rpar;</p>
    <ul class="announcements-list">
      {% for announcement in announcements %}
        <a href="{% url 'announcementProjects-apply' announcement.id_announ %}">
          <li>
            {{ announcement.init_date }} - {{ announcement.end_date }}
            <form method="POST">
              {% csrf_token %}
              <input type="hidden" name="announcement" value="{{ announcement.id_announ }}">
              <button type="submit" class="" >Aplicar</button>
            </form>
          </li>
        </a>
      {% empty %}
        <li>No hay convocatorias {% if current_category_name %} de {{ current_category_name }} {% else %} abiertas {% endif %} disponibles.</li>
      {% endfor %}
    </ul>
  </body>
</html>

{% endblock %}
