{% extends 'base.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <title>{% block title %}Título de la página{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/projects/crud.css' %}" />
    <link rel="stylesheet" href="{% static 'css/projects/announcement_categories.css' %}" />
    {% endblock %}
  </head>
  <body>
    
    {% if user_role == 'page_manager' %}
    <div class="main-title">
      <h1>Convocatorias {% if current_category_name %} de {{ current_category_name }} {% else %} abiertas {% endif %}</h1>
    </div>
    <a class="btn new-item" href="{% url 'announcements-create' %}">Nueva Convocatoria
      <img src="{% static 'img/plus.png' %}" class="plus-symbol">
    </a>
    <form method="get">
      <div>
        <button class="btn-primary"> Todas las categorías </button>
      </div>
    </form>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Fecha de inicio</th>
          <th>Fecha de finalización</th>
          <th>Categoría</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        {% for announcement in announcements %}
        <tr>
          <td>{{ announcement.id_announ }}</td>
          <td>{{ announcement.init_date }}</td>
          <td>{{ announcement.end_date }}</td>
          <td>{{ announcement.category }}</td>
          <td>
            <a class="btn edit" href="{% url 'announcements-update' announcement.id_announ %}"
              ><i class="fa-solid fa-pen-to-square"></i></a
            >
            <a class="btn delete" href="{% url 'announcements-delete' announcement.id_announ %}"
              ><i class="fa-solid fa-trash"></i></a
            >
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">No hay convocatorias {% if current_category_name %} de {{ current_category_name }} {% else %} abiertas {% endif %} disponibles.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <img class="img" src="../../../{{ category.photo }}" alt="{{ category.name }}" width="100">
    <div class="main-title">
      <h1>Convocatorias de {{ current_category_name }}</h1>
    </div>
      <ul class="announcements-list">

        {% for announcement in announcements %}
          <a href="{% url 'announcementProjects-list' announcement.id_announ %}"><li>{{ announcement.init_date }} - {{ announcement.end_date }}</li></a>
          
          {% empty %}
          <li>No hay convocatorias {% if current_category_name %} de {{ current_category_name }} {% else %} abiertas {% endif %} disponibles.</li>
        {% endfor %}

      </ul>

    {% endif %}
    
  </body>
</html>

{% endblock %}
