{% extends 'base.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Donate</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/projects/create_donation.css' %}"
    />
    {% endblock %}
  </head>
  <body>
    <div class="main-container">
      <div class="content">
        <div class="welcome-screen-container">
          <div class="message">
            <h2>Dona recursos</h2>
            <p>Elige qué y cuánto quieres donar.</p>
            <div class="resourses-list">
              <h3>Bolsa de recursos:</h3>
              <ul>
                {% for item in combined_data %} {% with requirement=item.0 resources_bag=item.1  percentage=item.2 %}
                <li>
                  <div class="resourse-item">
                    <div class="labels">
                      <h4>{{ requirement.resource_id.name }}</h4>
                      <div class="amount">
                        <p>{{ resources_bag.amount }}</p>
                        /
                        <p>{{ requirement.objective }}</p>
                      </div>
                    </div>
                    <div class="barra">
                      <div class="progreso" style="--w:{{percentage}}%"></div>
                    </div>
                  </div>
                </li>
                {% endwith %} {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="form-container">
          <h2>DONA UN RECURSO</h2>
          <div class="signup-container">
            <form class="form" method="POST">
              {% csrf_token %}
              <label for="resource_id">RECURSO</label>
              <div class="select">
                <select name="resource_id" id="resource_id">
                  <option selected disabled>Selecciona un recurso</option>
                  {% for resource in resources %}
                  <option>{{resource.id_resource}}. {{ resource.name }}</option>
                  {% empty %} {% endfor %}
                </select>
              </div>
              <p>
                <label for="objective">CANTIDAD</label>
                <input
                  class="input"
                  id="objective"
                  name="amount"
                  placeholder="Ingresa un valor objetivo para el recurso"
                  type="number"
                  step="any"
                  min="0"
                  max="9999999"
                />
              </p>
              <p>
                <label for="description">DESCRIPCIÓN</label>
                <textarea
                  class="input"
                  placeholder="Ingresa una descripción sobre la donación que realizarás."
                  type="text"
                  name="description"
                  id="description"
                ></textarea>
              </p>
              <div class="options">
                <button type="submit" class="btn btn-add">Donar</button>
              </div>
            </form>
          </div>
          <div class="resourses-list-responsive">
            <h3>Bolsa de recursos:</h3>
              <ul>
                {% for item in combined_data %} {% with requirement=item.0 resources_bag=item.1  percentage=item.2 %}
                <li>
                  <div class="resourse-item">
                    <div class="labels">
                      <h4>{{ requirement.resource_id.name }}</h4>
                      <div class="amount">
                        <p>{{ resources_bag.amount }}</p>
                        /
                        <p>{{ requirement.objective }}</p>
                      </div>
                    </div>
                    <div class="barra">
                      <div class="progreso" style="--w:{{percentage}}%"></div>
                    </div>
                  </div>
                </li>
                {% endwith %} {% endfor %}
              </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

{% endblock %}
