{% block content %}{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        />
        <title>{% block title %}Título de la página{% endblock %}</title>
        {% block head %}
        <link
        rel="stylesheet"
        href="{% static 'css/user/detail_user_style.css' %}"
        />
        {% endblock %}
    </head>
    <body>
      <div class="back-btn">
        <a href="{% url 'home' %}"><i class="fa-sharp fa-solid fa-caret-left"></i></a>
      </div>
      <div class="card">
        <div class="banner">
          <div class="circle">
            {% if not company_logo %}
            <div class="fa-solid fa-user"></div>
            {% else %}
            <img src="{{ company_logo }}">
            {% endif %}
          </div>
        </div>
        <div class="menu">
        </div>
        <h2 class="name">{{company_name}}</h2>
        <div class="title">{{company_address}}</div>
        <div class="actions">
          <div class="user-info">
              <div class="row">
                <h2>Teléfono:</h2>
                <p>{{company_phone}}</p>
              </div>
          </div>
          <div class="edit-btn row-flex">
            <button>Editar <i class="fa-solid fa-edit"></i></button>
            <button class="delete-btn">Eliminar <i class="fa-solid fa-trash"></i></button>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="NameTitle">Nombre</h6>
          </div>
          <div class="Name">
            {{company_name}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="ccTitle">NIT</h6>
          </div>
          <div class="cc">
            {{company_nit}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="PhoneTitle">Teléfono</h6>
          </div>
          <div class="Phone">
            {{company_phone}}
          </div>
        </div>
        <hr>
    </div>

    </body>
</html>
{% endblock %}