{% block content %}{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        />
        <title>{% block title %}Título de la página{% endblock %}</title>
        {% block head %}
        <link
        rel="stylesheet"
        href="{% static 'css/company/detail_company.css' %}"
        />
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="main-body">
                <div class="back-btn">
                    <a href="{% url 'home' %}"><i class="fa-sharp fa-solid fa-caret-left"></i></a>
                </div>
                <div class="logo">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        {% if company_logo %}
                        <img src={{company_logo}}  alt="Admin" class="rounded-circle" width="150">
                        {% else %}
                        <img src="{% static 'img\nav-bar-icons\company.png' %}" alt="Admin" class="rounded-circle" width="150">
                        {% endif %}
                        <div class="Name">
                          <h4>{{company_name}}</h4>
                          <p class="address">{{company_address}}</p>
                          <p class="phone">{{company_phone}}</p>
                          <button href="{% url 'edit_company' %}" class="btn_edit">Edit</button>
                          <button href="{% url 'delete_company' company_nit %}" class="btn_delete">Delete</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="info">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="NameTitle">Name</h6>
                      </div>
                      <div class="Name">
                        {{company_name}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="NitTitle">Nit</h6>
                      </div>
                      <div class="Nit">
                        {{company_nit}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="PhoneTitle">Phone</h6>
                      </div>
                      <div class="Phone">
                        {{company_phone}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="AddressTitle">Address</h6>
                      </div>
                      <div class="Address">
                        {{company_address}}
                      </div>
                    </div>
                    <hr>
                </div>
        
            </div>
        </div>
    </body>
</html>
{% endblock %}