{% extends 'base.html' %} {% block content %} {% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>{% block title %}Título de la página{% endblock %}</title>
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/projects/projects_list.css' %}"
    />
    {% endblock %}
  </head>
  <body>
    <div class="main-title">
      <h1>Proyectos de {{ company_name }} </h1>
    </div>
    <div >
      <div >
        <div class="projcard-container">
          {% for p in projects %}
          <div class="projcard projcard-blue">
            <div class="projcard-innerbox">
              <img
                class="projcard-img {% if forloop.counter|divisibleby:2 %} dark {% else %} light {% endif %}"
                src="{{ p.category.photo.url }}"
                alt="{{ p.category }}"
              />
              <div class="projcard-textbox">
                <div class="projcard-title">{{ p.title }}</div>
                <div class="projcard-subtitle">
                  {{ p.objective }}
                </div>
                <div class="projcard-bar"></div>
                <div class="projcard-description">
                  {{ p.results }}
                  {{ p.reach }}
                </div>
                <div class="projcard-tagbox">
                  <span class="projcard-tag">EDIT</span>
                  <span class="projcard-tag">DELETE</span>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
                <h1 class="no-projects-message">No hay ningún proyecto registrado</h1>
                <div class="img"> 
                  <img src="{% static 'img/company/empty-projects.jpg' %}" >
                </div>
          {% endfor %}
        </div>
      </div>
        <h1 id="altura-pagina"></h1>
      
        <a id="scroll-link" class="fixed-link slide__text-link"  href="{% url 'project-create' %}"> Nuevo proyecto  <i class="fa-solid fa-plus"></i></a>
        
        <script>
          window.addEventListener('scroll', function() {
            var pageHeight = Math.max(document.body.scrollHeight, document.documentElement.scrollHeight, document.body.offsetHeight, document.documentElement.offsetHeight, document.documentElement.clientHeight);
            var scrollLink = document.getElementById('scroll-link');
            var scrollPosition = window.pageYOffset || document.documentElement.scrollTop;
            var bottomThreshold = pageHeight - scrollPosition; // ajusta la altura de scroll a partir de la cual se cambia la posición
            console.log(pageHeight);
          
            if (bottomThreshold <= (pageHeight*0.52)) {
              scrollLink.classList.add('relative-link');
              previousScrollPosition = scrollPosition;
            } else if (scrollPosition < previousScrollPosition) {
              scrollLink.classList.remove('relative-link');
            }
          });
        </script>

    </div>
    
  </body>
</html>
{% endblock %}