{% block content %}{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        />
        <title>{% block title %}Título de la página{% endblock %}</title>
        {% block head %}
        <link
        rel="stylesheet"
        href="{% static 'css/company/detail_company.css' %}"
        />
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="main-body">
                <div class="back-btn">
                    <a href="#"><i class="fa-sharp fa-solid fa-caret-left"></i></a>
                </div>
                <div class="profile_picture">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img 
                          {% if profile_pic %}
                          src={{profile_pic}} 
                          {% else %}
                          src="{% static 'img\nav-bar-icons\profile.png' %}"
                          {% endif %}
                          alt="Admin" 
                          class="rounded-circle" 
                          width="150"
                        >
                        <div class="Name">
                          <h4>{{user_name}}</h4>
                          <p class="Email">{{user_email}}</p>
                          <p class="phone">{{user_phone}}</p>
                          <button class="btn_edit">Edit</button>
                          <button class="btn_delete">Delete</button>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="info">
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="NameTitle">Name</h6>
                      </div>
                      <div class="Name">
                        {{user_name}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="ccTitle">CC</h6>
                      </div>
                      <div class="cc">
                        {{user_cc}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="PhoneTitle">Phone</h6>
                      </div>
                      <div class="Phone">
                        {{user_phone}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 class="EmailTitle">Email</h6>
                      </div>
                      <div class="Email">
                        {{user_email}}
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                          <h6 class="BirthDateTitle">Birth Date</h6>
                        </div>
                        <div class="BirthDate">
                          {{birth_date}}
                        </div>
                      </div>
                      <hr>
                </div>
        
            </div>
        </div>
    </body>
</html>
{% endblock %}