{% block content %}{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        />
        <title>{% block title %}Título de la página{% endblock %}</title>
        {% block head %}
        <link
        rel="stylesheet"
        href="{% static 'css/user/detailUserStyle.css' %}"
        />
        {% endblock %}
    </head>
    <body>

        <div class="back-btn">
            <a href="{% url 'home' %}"><i class="fa-sharp fa-solid fa-caret-left"></i></a>
        </div>
       
        <div class="card">
          <div class="banner">
            <div class="circle">
              {% if not profile_pic %}
              <div class="fa-solid fa-user"></div>
              {% else %}
              <img src="{{ profile_pic }}">
              {% endif %}
            
            </div>
          </div>
          <div class="menu">
            
          </div>
          <h2 class="name">{{user_name}}</h2>
          <div class="title">{{user_email}}</div>
          <div class="actions">
            <div class="user-info">
              
                <div class="row">
                  <h2>CC:</h2>
                  <p>{{user_cc}}</p>
                </div>
                <div class="row">
                  <h2>Teléfono:</h2>
                  <p>{{user_phone}}</p>
                </div>
           
            </div>
            <div class="edit-btn">
              <button onclick="goToEdit(this)" id_user="{{ user_cc }}">Editar <i class="fa-solid fa-edit"></i></button>
            </div>
            <script>
              function goToEdit(button) {
                var id = button.getAttribute("id_user");
                window.location.href = "/projects/user/"+id+"/update";
              }
              </script>
          </div>
        </div>

        <div class="info">
          <div class="row">
            <div class="col-sm-3">
              <h6 class="NameTitle">Nombre</h6>
            </div>
            <div class="Name">
              {{user_name}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="ccTitle">CC</h6>
            </div>
            <div class="cc">
              {{user_cc}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="PhoneTitle">Teléfono</h6>
            </div>
            <div class="Phone">
              {{user_phone}}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="EmailTitle">Correo</h6>
            </div>
            <div class="Email">
              {{user_email}}
            </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-sm-3">
                <h6 class="BirthDateTitle">Fecha de nacimiento</h6>
              </div>
              <div class="BirthDate">
                {{birth_date}}
              </div>
            </div>
            <hr>
      </div>
    </body>
</html>
{% endblock %}