{% extends 'base.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    {% block head %}
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/projects/crud.css' %}" />
    {% endblock %}
  </head>
  <body>
    <div class="main-title">
      <h1>Usuarios</h1>
    </div>

    <table>
      <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Fecha de nacimiento</th>
        <th>Foto</th>
        <th>Acciones</th>
      </tr>
    {% for user in users %}
        
        <tr>
            <td>{{ user.user_cc }}</td>
            <td>{{ user.full_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.birth_date }}</td>
            <td><img src="../../../{{ user.photo }}" alt="No guardó foto"  height="100" width="100"></td>
            <td><a class="btn edit" href="{% url 'users-update' user.pk %}"><i class="fa-solid fa-pen-to-square"></i></a><a class="btn delete" href="{% url 'users-delete' user.pk %}" ><i class="fa-solid fa-trash"></i></a></td>
            {% empty %}
                <td>No se encontró ninguna categoría.</td>
            {% endfor %}
        </tr>
    
    </table>
    

  </body>
</html>



{% endblock %}


